<%= javascript_pack_tag "main" %>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<div id="app">
  <el-header >
    <el-row>
      <el-col :span="2"><%= image_tag "/images/logo.png"%></el-col>
      <el-col :span="2" :offset="20">
        <div >
          <el-dropdown style="text-align: right; font-size: 40px; margin-right:0; margin-top:10">
            <i class="el-icon-setting" style="margin-right: 0px;  color: white; cursor:hand"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>configuracion</el-dropdown-item>
              <el-dropdown-item>logs de actividades</el-dropdown-item>
              <el-dropdown-item>cerrar sesion</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </el-col>
    </el-row>
  </el-header>


  </el-container>
  <el-container>
    <el-aside width="200px">
      <el-row class="tac">
        <el-col :span="24">
          <div class="user-description">

          </div>
          <el-menu
          default-active="2"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose">

            <el-menu-item index="1">
              <i class="el-icon-menu"></i>
              <span>Dashboard</span>
            </el-menu-item>
            <el-submenu index="2">
              <template slot="title">
                <i class="el-icon-star-on"></i>
                <span>Empresas</span>
              </template>
                <el-menu-item index="1-1">listado</el-menu-item>
                <el-menu-item index="1-2">Empleados</el-menu-item>
            </el-submenu>
            <el-menu-item index="3">
              <i class="el-icon-date"></i>
              <span>Citas</span>
            </el-menu-item>
            <el-menu-item index="4">
              <i class="el-icon-star-off"></i>
              <span>Medicos</span>
            </el-menu-item>
            <el-menu-item index="5">
              <i class="el-icon-printer"></i>
              <span>Reportes</span>
            </el-menu-item>
          </el-menu>
        </el-col>
      </el-row>
    </el-aside>

    <el-main>
      <el-row>
        <div class="breadcrumb">
          <el-breadcrumb separator="/"  >
            <el-breadcrumb-item :to="{ path: '/' }">homepage</el-breadcrumb-item>
            <el-breadcrumb-item>promotion management</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </el-row>
      <el-row>
        <div class="inner-main">
          <p>
            <el-row>
              <el-col :span="24">
                <div class="grid-content bg-white-container">
                  <h1><%= yield %></h1>
                  <p>

                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    Where does it come from?
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    Where can I get some?
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.

                  </p>
                </div>
              </el-col>
            </el-row>

          </p>
        </div>
      </el-row>
    </el-main>
  </el-container>






</div>

<!-- import JavaScript -->
<style>

  html, body {
    height: 100%;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9f9f9;

  }
  * {
    padding: 0;
    margin: 0;
  }
  .breadcrumb{
    left: 200px;
    height: 30px;
    width:100%;
    color: white;
    padding-top: 10px;
    padding-left:10px;
    background-color: whitesmoke;
    top: 60px;
    position: fixed;
    z-index: 99999;
  }
  .inner-main{
    padding-left:10px;
    padding-right:10px;
    z-index: 1;
  }

  .el-header, .el-footer {
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    color: white;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 10;
    width: 100%;
    top:0;
    left:0;
  }
  .el-aside {
    background-color: white;
    color: #333;
    text-align: left;
    line-height: 70px;
    height: 100%;
    overflow: auto;
    position:fixed;
    top: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;

  }
  .el-main {
    color: #333;
    line-height: 160px;
    left: 200px;
    top: 100px;
    width: 100%;
    margin-left: 180px;
    margin-top: 40px;
    margin-right:0px;
    z-index: 3;
  }

  body > .el-container {
    margin-bottom: 0px;
    border: 0px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-row {
    margin-bottom: 25px;
  &:last-child {
     margin-bottom: 0;
     z-index: 1;
   }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-white-container{
    background: white;
    width: 100%;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .user-description{
    background: url(/images/12.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 15px;
    padding: 0px 0 0 0px;

  }
</style>
