<%= javascript_pack_tag "form_empresa" %>

    <%= content_tag :div,
    id: 'empresa-form',
    data: {
        id: empresa.id,
        empresa: empresa.to_json(except: [:id, :created_at, :updated_at]),
        pacientes_attributes: empresa.pacientes.to_json(except: [:empresa_id, :created_at, :updated_at]),
     } do %>
        <div v-if="!Object.keys(errores).length == 0">
            <em> Han ocurrido algunos errores que evitan el guardado:</em>
        </div>
        <div v-for="value, key in errores">
            <div id="card-alert" class="card red">
                <div class="card-content white-text">
                    <transition>
                        <p><i class="fa fa-ban"></i> <b>{{key.toUpperCase()}} {{ value[0].toUpperCase() }}</b></p>
                    </transition>
                </div>
                <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
        <div class="input-field">
            <label> Nombre de la empresa</label>
            <input type="text"  v-model="empresa.nombre" v-validate="'required|alpha'" name="empresa_nombre"  id="empresa_nombre"  data-vv-as="Nombre de la empresa" />
            <span v-if="errors.has('empresa_nombre')"  class="red-text-error ">

                {{ errors.first('empresa_nombre') }}
            </span>
        </div>
        <div class="input-field">
                <label>Ruc de la empresa</label>
            <input type="text"  v-model="empresa.ruc" />
        </div>
        <div class="input-field">
                <label>Numero Telefonico</label>
            <input type="text" v-model="empresa.telefono" />
        </div>
        <div class="input-field">
                <label>Email</label>
            <input type="text"  v-model="empresa.email" v-validate="'required|email'" name="empresa[email" />
            <span v-if="errors.has('empresa_email')">
                {{ errors.first('empresa_email') }}
            </span>

        </div>
        <div class="input-field">
                <label for="direccion">Direccion</label>
            <input type="text" v-model="empresa.ubicacion" />
        </div>

        <!--EMPLEADOS -->
        <h4>Empleados </h4>
        <div v-for="(paciente, index) in empresa.pacientes_attributes">
            <div v-if="paciente._destroy == '1'">
                El paciente
                <b>{{ paciente.primer_nombre }}</b> fue removido
                <button v-on:click="undoRemove(index)" class="waves-effect waves-light btn btn-sm ">
                    Deshacer</button>
            </div>
            <div v-else>
                <label for="">Nombre </label>
                <input type="text" v-model="paciente.primer_nombre" />
                <button v-on:click="removePaciente(index)" class="waves-effect waves-light btn "> Borrar </button>
            </div>
            <hr>
        </div>
        <button v-on:click="addPaciente" class="waves-effect waves-light btn btn-sm "> Agregar </button>
        <button v-on:click="saveEmpresa" :disabled="errors.any()" class="waves-effect waves-light btn btn-sm "> Guardar </button>

        <% end %>


            <br />
