<%= render 'form', empresa: @empresa %>
<div class="divider"></div>
<%= link_to 'Mostrar', @empresa , class:"btn waves-effect  waves-light"%>
      <%= link_to 'Volver', empresas_path , class: "btn waves-effect waves-light" %>
